<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">-->


    <!--    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">


</head>

<body>

<div id="app" class="container">
    <div class="card border mb-3">
        <div class="card-body">
            <h5 class="card-title">Game:</h5>
            <button v-on:click="pauseGame()" v-if="active" class="button btn-success">Active</button>
            <button v-on:click="activateGame()" v-if="!active" class="button btn-danger">
                Paused - click here to activate
            </button>
            <input type="checkbox" id="checkbox" v-model="sellRemote">
            <label for="checkbox">Sell remote</label>
            <!-- <button v-on:click="tick()" class="button btn-primary">Tick</button> -->

        </div>
    </div>
    <div class="card border mb-3"
         v-for="(biz, index) in businesses">
        <div class="card-header"
            v-bind:class="bizHeader(biz)">
            <b>{{biz.name}}</b>
            <span class="oi oi-cog" v-on:click="biz.editMode = true"></span>
        </div>
        <div class="card-body">
            <div class="row with-content">
                <div class="col-sm-3">
                    <b>Upgrades:</b>
                </div>
                <div class="col" v-if="!biz.editMode">
                    {{ biz.upgrades[biz.upgrade].name }}
                </div>
                <div class="col" v-if="biz.editMode">
                    <select v-model="biz.upgrade">
                        <option v-for="(upgrade, upgIdx) in biz.upgrades" v-bind:value="upgIdx">
                            {{ upgrade.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row with-content">
                <div class="col-sm-3">
                    <b>Stock:</b>
                </div>
                <div class="col" v-if="!biz.editMode">
                    {{etaFullStock(biz) | formatTime | orDefault('Full stock')}}
                    - {{floor(biz.stock)}} of {{biz.capacity | round(1)}} units <!-- units -->
                    - GTA$ {{floor(biz.stock) * biz.upgrades[biz.upgrade].unitPrice * (sellRemote ? 1.5 : 1.0) | round(0) | money}}
                </div>
                <div class="col" v-if="biz.editMode">
                    <input @input="handleChangeStock($event.target, biz)">%
                    - {{biz.stock}} units of {{biz.capacity}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <!-- empty -->
                </div>
                <div class="col">

                    <div class="progress">
                        <div class="progress-bar progress-bar-stock" role="progressbar" v-bind:style="{width: (biz.stock / biz.capacity * 100) + '%'}">
                            {{100 * biz.stock / biz.capacity | round(1)}}% <!-- percentage -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row with-content" v-if="biz.type != 'nightclub'">
                <div class="col-sm-3">
                    <b>Supplies</b>
                </div>
                <div class="col" v-if="!biz.editMode">
                    {{etaResupply(biz) | formatTime | orDefault('No supplies')}}
                    - {{biz.supplies * biz.resupplyUnits | round(0)}} of {{biz.resupplyUnits | round(2)}} units
                </div>
                <div class="col" v-if="biz.editMode">
                    <input @input="handleChangeSupplies($event.target, biz)">%
                    - {{biz.supplies * biz.resupplyUnits | round(0)}} of {{biz.resupplyUnits | round(2)}} units
                </div>
            </div>
            <div class="row" v-if="biz.type != 'nightclub'">
                <div class="col-sm-3">
                    <!-- empty -->
                </div>
                <div class="col">
                    <div class="progress" >
                        <div class="progress-bar border border-light progress-bar-supplies" role="progressbar" v-bind:style="{width: (biz.supplies * 100) + '%'}">
                            {{100 * biz.supplies | round(0)}}%
                        </div>
                    </div>
                </div>
            </div>
            <div class="row with-content" v-if="biz.type == 'nightclub'">
                <div class="col-sm-3">
                    <b>Technician?</b>
                </div>
                <div class="col">
                    <input type="checkbox" v-model="biz.hasTech" v-if="biz.editMode">
                    {{ biz.hasTech ? 'Yes' : 'No' }}
                </div>
            </div>

            <div class="row with-content">
                <div class="col-sm-3">
                    <b>Max. vehicles</b>
                </div>
                <div class="col">
                    {{vehicles(biz)}}
                </div>
            </div>

            <div class="row with-content" v-if="biz.editMode">
                <div class="col-sm-3">
                    <b>Edit mode:</b>
                </div>
                <div class="col">
                    <button type="button" v-on:click="biz.editMode = false" class="btn btn-primary">Confirm changes</button>
                </div>
            </div>

        </div>


    </div>

    <!-- Modal -->
    <div class="modal fade" id="resupplyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Reset "{{businesses[resupplyIdx].name}}" business by setting the bar to the following
                    percentage?<input type="email" class="form-control" id="resupplyValueTxt" placeholder="100%">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" v-on:click="confirmSuppliesDialog()" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!--
list of TODO features:

- Better support for NC:
  - allow to select which businesses has technicians
- allow to save/restore state (in the url)
- use less space in screen. It would be nice to see only the critical information. ETA.
- allow to set the supplies and stock in bars
- opt: allow to set the supplies and stock in money
- allow to cancel changes in stock supplies
- preload data when editing biz.
- show a summary
- allow to choose biz
- allow delayed resupply (full bar after 10 minutes)
- allow to see extended information
- allow more options
  - bonuses
  - get weekly bonuses automatically and allow to deselect them
- support for hangar
- support for cargo
- support for special vehicles
- Sort by next biz with shortest ETA
- ETA for raid
-->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="/js/app.js"></script>
</body>

</html>